
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: lightskyblue;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: lightcoral;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: lightcoral;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightpink;
  color: white;
}
/* end test nav hamburger */
nav{
  display: none;
}
nav a{
  color: black;
  font-weight: bold;
  font-size: large;
}

nav li{
  margin-bottom: 15px;
  text-align: center;
  border: 3px solid lightpink;
  background-color: white;
  border-radius: 20px;
  height: 50px;
}

a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  position: absolute;
  left: -500px;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
}
p{
    padding:20px;
    margin: 5px 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: white;
}

.skip{
    padding:10px;
}

body{
  background-image: url("../images/background.png")
}


ul{
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
ul .active{
    background-color: lightpink;
    text-transform: uppercase;
    border-color: lightcoral;
}

h1{
    font-family: 'Ramaraja', 'Trebuchet MS', 'sans-serif';
    text-align: center;
    font-size: 40px;
    margin: 20px 30px;
    background-color: white;
}

h2{
    text-align: center;
    font-size: 24px;
    margin: 0px 30px;
    background-color: white;
}

h3{
  text-align: center;
  font-size: 20px;
  margin: 0px 30px;
  background-color: white;
}



img{
    width: 200px;
    padding: 5px;
    border: 5px solid lightpink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img:nth-child(2n){
    border: 5px solid lightcoral;
}

img:hover{
    box-shadow: 10px 10px lightcoral;
}

img:hover:nth-child(2n){
    box-shadow: 10px 10px lightpink;

}

footer{
    padding: 5px 5px;
    margin: 20px 0px 0px 0px;
    background-color:lightcoral;
    text-align: center;
}

#logo{
  animation-name: logo;
  animation-duration: 5s;
  width: 5px;
  animation-fill-mode: forwards;
}

@keyframes logo{
  from{
  width: 25px;
  opacity: 0}

  to{
  width: 200px;
  opacity: 1;
  }
}
form{
  width: 90%;
  margin: 0 auto;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
  }

  legend{
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }

  label{
    display: inline-block;
    margin-right:10px;
    width:15%;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }

  *:focus{
    border: 5px solid lightcoral;
  }
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=checkbox]{
      display:inline;
      width:inherit;
  }

  input[type=submit] {
    background-color: lightpink;
    color: black;
    padding: 14px 20px;
    margin: 10px 10px 30px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  input[type=submit]:hover {
    background-color: lightcoral;
  }

  #myImage{
    width: 200px;
    border: none;
    margin: 0 auto;
  }
  #myImage:hover{
    box-shadow: none;
  }

  .containerbutton{
    width: 200px;
    display:grid;
    margin: 0 auto;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }

  .container1{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }


  @media (min-width: 768px) and (max-width: 1024px) {
    #hamburger{
      display: none;
    }

    nav li{
      margin-bottom: 0px;
      text-align: center;
      border:none;
    }
    ul{
      background-color: white;
    }
    nav{
      display: inline;
      text-align: center;
    }

    form{
      width: 80%;
      margin: 0 auto;
    }

    input{
      width:80%;
    }

    textarea{
      width:80%;
      height: 25vh;
   }

   div + label{
      line-height: 25vh;
      vertical-align:top;
   }

   .container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  nav li:nth-of-type(1)::after{
    content: "🐹";
}

nav li:nth-of-type(2)::after{
  content: "💖";
}
nav li:nth-of-type(3)::after{
content: "🏠";
}

nav li:nth-of-type(4)::after{
  content: "🍼";
  }
nav li:nth-of-type(5)::after{
  content: "🎮";
}

nav li:nth-of-type(6)::after{
  content: "📪";
}
nav li:nth-of-type(1)::before{
  content: "🐹";
}

nav li:nth-of-type(2)::before{
content: "💖";
}
nav li:nth-of-type(3)::before{
content: "🏠";
}

nav li:nth-of-type(4)::before{
content: "🍼";
}
nav li:nth-of-type(5)::before{
content: "🎮";
}

nav li:nth-of-type(6)::before{
content: "📪";
}
  }
  @media (min-width: 1025px){
    #hamburger{
      display: none;
    }

    ul{
      background-color: white;
    }

    nav a{
      color: black;
      font-weight: bold;
      font-size: large;
    }
  
    nav{
      display: inline;
      text-align: center;
    }
    

    .container1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 10px;
    }

    nav{
      background-color: #ddd;
      padding: 25px 10px;
      text-align: left;
    }

    nav ul{
      list-style-type: none;
    }

    nav li{
      display: inline;
      margin-right: 5%;
      border: none;
    }

    nav li:nth-of-type(1)::after{
      content: "🐹";
  }

  nav li:nth-of-type(2)::after{
    content: "💖";
}
nav li:nth-of-type(3)::after{
  content: "🏠";
  }

  nav li:nth-of-type(4)::after{
    content: "🍼";
    }
  nav li:nth-of-type(5)::after{
    content: "🎮";
  }

  nav li:nth-of-type(6)::after{
    content: "📪";
  }

}
  @media (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
    }

    #logo{
      width: 200px;
    }
}